.add-staff {
  padding: 3px 24px 24px 24px;
  .add-staff-main {
    background-color: #ffffff;
    border-radius: 12px;

    h4 {
      padding-top: 10px;
      padding-left: 18px;
    }
  }
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .text-field {
      width: 100%;
      .input {
        width: 90%;
        margin-bottom: 32px;
        padding: 8px 16px;
        margin-right: 7px;
        margin-left: 10px;
        &:focus {
          outline: none;
        }
      }
    }
    .add-new-button {
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: #3a57e8;
      margin: 10px;
      border-radius: 4px;
      padding: 8px 24px;
      color: white;
      border: none;
      cursor: pointer;
      &.rounded {
        border-radius: 100px;
      }
      &:hover {
        background-color: #0048b2;
        transition: 300ms;
      }
    }
  }
}
