.button {
  background-color: #3a57e8;
  border-radius: 4px;
  padding: 8px 24px;
  color: white;
  border: none;
  cursor: pointer;
  &.danger {
    background-color: #c03221;
    &:hover {
      background-color: #be1300;
    }
  }
  &.rounded {
    border-radius: 100px;
  }
  &:hover {
    background-color: #0048b2;
    transition: 300ms;
  }
}
.edit-button {
  background-color: #3a57e8;
  border-radius: 4px;
  padding: 8px 24px;
  color: white;
  border: none;
  cursor: pointer;
  &.rounded {
    border-radius: 100px;
  }
  &:hover {
    background-color: #0048b2;
    transition: 300ms;
  }
}
.delete-button {
  background-color: #c03221;
  border-radius: 4px;
  padding: 8px 24px;
  color: white;
  border: none;
  cursor: pointer;
  &.rounded {
    border-radius: 100px;
  }
  &:hover {
    background-color: #be1300;
    transition: 300ms;
  }
}
