.view {
  display: flex;
  flex-direction: row;
  padding: 14px;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    min-width: 40%;
    flex-grow: 1;
    height: 250px;
    margin: 10px;
    .card-title {
      padding-bottom: 10px;
    }
    .list-staff-container {
      overflow-y: scroll;
      height: calc(100% - 24px);
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: white;
      }
      &::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-radius: 50px;
      }
    }
    .list-staff {
      display: flex;
      justify-content: space-between;

      .list-staff-group {
        display: flex;
        .photo {
          img {
            width: 50px;
            height: 50px;
          }
        }
        .name-status {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 4px;
          .name-staff {
            font-size: 19px;
          }
        }
      }
      .status-staff-masuk {
        width: 33px;
        height: 13px;
        border-radius: 10px;
        padding: 0px;
        text-align: center;
        font-size: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1aa053;
      }
      .status-staff-sakit {
        width: 33px;
        height: 13px;
        border-radius: 10px;
        padding: 0px;
        text-align: center;
        font-size: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #08b1ba;
      }
      .button-request {
        display: flex;
        align-items: center;
        .button {
          padding: 4px 8px;
          font-size: 13px;
          &.accept {
            background-color: #1aa053;
            margin-right: 5px;
          }
          &.reject {
            background-color: #c03221;
          }
        }
      }
    }
    &.chart {
      width: 100%;
      height: auto;
      align-self: stretch;
    }
  }
}
