.layout {
  display: flex;
  .container-content {
    width: 100%;
    background-color: #e5e5e5;
  }
}

.sidebar-header {
  z-index: 1;
  display: flex;
  position: sticky;
  top: 0;
  padding: 8px 12px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  .date-button {
    display: flex;
    .date {
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 500;
      margin-right: 24px;
    }
    .button {
      &.clock-in {
        background-color: #1aa053;
        border-radius: 18px;
        &:hover {
          background-color: rgba(26, 160, 83, 0.8);
        }
      }
    }
    img {
      cursor: pointer;
    }
  }

  .header-role {
    display: flex;
    align-items: center;
    .staff {
      .role-staff {
        color: #8a92a6;
        font-size: small;
      }
    }
    display: flex;
    img {
      width: 57px;
      height: 40px;
    }
    .notif {
      display: flex;
      img {
        width: 29px;
        height: 44px;
      }
    }
  }
  .logout {
    cursor: pointer;
    img {
      width: 21px;
      height: 41px;
      padding-left: 10px;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  padding: 0px;
  width: 257px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
  .header {
    width: 100%;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75px;
    }
  }

  .main {
    display: flex;
    margin: 10px 10px;
    font-size: 16px;
    list-style-type: none;
    cursor: pointer;

    span {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 200px;

      .selected {
        background-color: #3a57e8;
        color: #ffffff;
        border-radius: 4px;
        svg {
          fill: #ffffff;
        }
      }
      :hover {
        background-color: #3a57e8;
        color: #ffffff;
        border-radius: 4px;
      }
      a {
        text-decoration: none;
        display: flex;
        font-family: inter;
        color: #8a92a6;
        margin-bottom: 10px;
        svg {
          fill: #8a92a6;
          display: flex;
          width: 24px;
          height: 24px;
          margin-top: 7px;
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #e9ecef;
  }
}
