.staff-view {
  padding: 24px;
  .card {
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 175%;
      padding: 8px 24px;
      width: fit-content;
      margin-bottom: 40px;
      text-decoration: none;
    }
  }
}
