@import 'normalize';
html {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

@import 'button';
@import 'login';
@import 'sidebar';
@import 'container';
@import 'dashboard';
@import 'card';
@import 'staff';
@import 'table';
@import 'addstaff';
@import 'createacc';
@import 'alert';
